<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>FlockJS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/icon" href="/static/favicon.ico" />

    <link href="/static/fonts.css" rel="stylesheet" />

    <!-- Compiled and minified CSS -->
    <!--<link rel="stylesheet" href="/static/materialize.min.css" />-->
    <link
      href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css"
      rel="stylesheet"
    />

    <link href="/static/icon.css" rel="stylesheet" />

    <!-- Compiled and minified JavaScript -->
    <script src="/static/materialize.min.js"></script>

    <script src="/static/codeflask.min.js"></script>

    <!-- Include the Codemirror library -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.32.0/codemirror.min.js"></script>
    <!-- Codemirror JS Vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue-codemirror@4.0.0/dist/vue-codemirror.js"></script>
    <!-- Codemirror Libs -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.32.0/mode/javascript/javascript.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.32.0/addon/merge/merge.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.32.0/addon/selection/active-line.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/socket.io-client/dist/socket.io.slim.js"></script>
    <script src="https://unpkg.com/vue-cookies@1.7.0/vue-cookies.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-socket.io-extended"></script>

    <!-- Include stylesheet -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.32.0/codemirror.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.32.0/addon/merge/merge.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.32.0/theme/monokai.min.css"
      rel="stylesheet"
    />
    <script>
      var socket = io("/");
      Vue.use(VueSocketIOExt, socket);
    </script>

    <style>
      ::-webkit-scrollbar {
        display: none;
      }
    </style>
  </head>

  <body>
    <div id="app">
      <div class="container h-screen mx-auto" v-if="!finished && !starting">
        <div class="shadow w-full bg-grey-light h-3">
          <div
            ref="progressBar"
            class="bg-green-500 text-xs leading-none py-1 text-center text-white h-3"
            style="transition: 1s; width: 100%;"
          ></div>
        </div>
        <div class="flex h-full flex-wrap">
          <div class="w-2/3 p-2">
            <div>{{ maxTime - timePassed | secondsToString }}</div>
            <div>{{ exerciseDescription }}</div>
            <div style="height: 60vh;" @keyup.ctrl.83="validate">
              <codemirror
                ref="cm"
                v-model="code"
                :options="cmOption"
                @blur="onCmBlur($event)"
                @focus="onCmFocus($event)"
                @ready="onCmReady($event)"
              ></codemirror>
            </div>
            <div
              v-if="isExerciseCorrect"
              class="bg-green-200 p-3 rounded-md border text-gray-800"
            >
              <p>Great, you got it right! We will let the rest of the people finish. Please, wait until the time is up.</p>
            </div>
            <div
              v-if="isExerciseCorrect===false"
              class="bg-red-200 p-3 rounded-md border text-gray-800"
            >
              <p>Sorry, this is not the right solution. Try again!</p>
            </div>
            <div class="mt-2">
              <!--<button
                class="bg-yellow-800 hover:bg-yellow-700 p-3 text-white shadow-md focus:outline-none focus:shadow-outline m-1"
                onClick="toggleControlMode();"
              >
                Give control
              </button>-->
              <button
                class="bg-teal-600 hover:bg-teal-500 p-3 text-white shadow-md focus:outline-none focus:shadow-outline m-1"
                @click="validate()"
              >
                Validate (CTRL-S)
              </button>
            </div>
            <div id="return"></div>
            <div id="result"></div>
          </div>
          <div class="w-1/3 h-full p-2">
            <div class="bg-gray-100 h-full p-2 flex flex-col-reverse">
              <div class="order-4 h-2/6">
                <i class="bg-teal-300 p-3 material-icons rounded-full inline"
                  >message</i
                >
                <p class="text-2xl inline pl-3 mt-2 text-teal-900">
                  Chat
                </p>
                <p class="p-3">This is a place to chat with your peer</p>
              </div>
              <div
                class="flex-grow p-3 order-2 h-3/6 overflow-auto w-full"
                ref="messageContainer"
              ></div>
              <div class="p-3 order-1 h-1/6">
                <textarea
                  v-model="myMessage"
                  class="border resize-none w-full text-sm p-2"
                  placeholder="Write message here and press ENTER"
                  v-on:keyup.enter="sendMessage()"
                >
                </textarea>
                <p class="text-xs text-gray-600">
                  Press ENTER to send Message
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div v-if="finished"
        class="container mx-auto h-screen flex justify-center items-center"
      >
      <div class="max-w-lg">
        <h1 class="mb-6 text-center font-hairline text-3xl">
          Session is over
        </h1>
        <div
          class="bg-teal-100 border-teal-600 p-8 border-t-8 bg-white mb-6 rounded-lg shadow-lg m-5"
        >
        <h1 class="font-bold text-2xl mb-4">Congratulations!</h1>
        <p class="font-medium">Thank you for participating in this session. Further questions about the experiment SESSIONID can be sent to: xxxx@xxxx.org, with the subject [FLOCK SESSIONID]
        </p>
        </div>
        <div class="text-center">
          <p class="text-grey-dark text-sm inline">
            Universidad de Sevilla
          </p>
          <p class="text-grey-dark text-sm inline font-hairline mr-1 ml-1">|</p>
          <p class="text-grey-dark text-sm inline">
            University of California, Berkeley
          </p>
        </div>
      </div>
    </div>
    <div v-if="starting" class="fixed h-full w-full top-0 z-50 flex justify-center items-center" style="backdrop-filter: blur(2px);">
      <img src="/static/img/Loopi_Logo.png" class="w-48"/>
    </div>
    <div v-if="loadingTest" class="fixed h-full w-full top-0 z-50 flex justify-center items-center" style="backdrop-filter: blur(2px);">
      <div
      class="border-teal-600 p-8 border-t-8 bg-white mb-6 rounded-lg shadow-lg m-5 w-2/3"
    >
    <h1 class="font-bold text-2xl mb-4">A new test begins!</h1>
    <p class="font-medium">{{ testDescription }}</p>
    </div></div>
    <script type="module" src="/assets/main.vue.js"></script>
    <style>
      .CodeMirror {
        border: 1px solid #eee;
        height: 50vh !important;
      }
    </style>
  </body>
</html>
